html {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  box-sizing: border-box; }

body {
  color: #1d1d1f;
  letter-spacing: -.05em;
  background: #fff;
  overflow-x: hidden !important; }

.global-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 52px;
  border-bottom: 1px solid #ddd;
  padding: 1rem 1.2rem;
  padding-left: 1rem;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  -moz-backdrop-filter: saturate(180%) blur(15px);
  -o-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px); }
  .global-nav-items {
    height: 100%;
    display: flex;
    align-items: center; }
  .global-nav .title {
    display: none;
    font-size: 1.3rem;
    margin: 0 auto; }
  .global-nav .logo {
    max-width: 80px;
    height: 50px; }

.scroll-section-0 h1 {
  font-size: 4rem;
  text-align: center; }

.main-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  font-size: 2.5rem;
  padding: 0 1rem;
  background-color: yellow; }
  .main-message p {
    font-weight: 700;
    text-align: center;
    line-height: 1.2; }

.description {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 1.2rem;
  color: #888;
  padding: 0 1rem; }

.desc-message {
  width: 50%;
  font-weight: bold; }
  .desc-message .pin {
    width: 1px;
    height: 100px;
    background: #000; }

.mid-message {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 2rem;
  color: #888; }
  .mid-message strong {
    color: black; }

.canvas-caption {
  padding: 0 1rem;
  color: #888;
  text-align: center; }

.footer {
  display: block;
  height: 15rem;
  width: 100%;
  background: #888; }
  .footer .makers-list {
    padding: 1rem 3rem;
    margin-left: auto;
    margin-bottom: 2rem;
    color: black; }
    .footer .makers-list-title {
      display: flex;
      justify-content: flex-end;
      font-size: 1.2rem;
      margin-bottom: 1rem;
      font-weight: 700; }
    .footer .makers-list-items {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 0.5rem;
      font-size: 1rem; }
  .footer .thanks-to {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    text-align: center; }

@media (min-width: 1024px) {
  .global-nav {
    padding: 1rem 4.5rem;
    height: 70px; }
    .global-nav .title {
      display: inline-block;
      margin: 0 auto;
      transform: translateX(-10%);
      font-size: 24px; }
  #scroll-section-0 h1 {
    font-size: 9vw; }
  .main-message {
    font-size: 4vw; }
  .description {
    font-size: 2rem; }
  #scroll-section-2 .main-message {
    font-size: 6vw; }
    #scroll-section-2 .main-message small {
      font-size: 1.5vw; }
  #scroll-section-2 .desc-message {
    width: 20%; }
  .mid-message {
    font-size: 4vw; }
  .canvas-caption {
    font-size: 2rem; } }
