doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Understanding webSocket
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1 프로젝트하다가 웹소켓이 궁금해져서 시작해보는 <br> 줌 클론코딩 
        main
            form#nick
                input(type="text", placeholder="choose a nickname", required)
                button save
            ul 
            form#message
                input(type="text", placeholder ="write a message", required)
                button Send 
            
        script(src="/public/js/app.js")  