* {
    list-style: none;
    box-sizing: border-box;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: 700;
    overflow-x: hidden;
    overflow-y: hidden;
}



.rolling-banner-lists {
    position: relative;
    display: flex;
    animation: 30s linear 0s infinite normal none running animation-h4u8i2;
    width: 4830px;
}

.rolling-banner-lists::-webkit-scrollbar {
    display: none;
}


.rolling-banner-items.mile {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    width: 378px;
    height: 212px;
    margin: 15px 10px;
    padding: 20px;
    border-radius: 20px;
    background: rgb(255, 158, 148);
    transition: all 0.2s ease-in-out 0s;
}

.rolling-banner-items.paradigm {
    /* position: absolute; */
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    width: 378px;
    height: 212px;
    margin: 15px 10px;
    padding: 20px;
    background: rgb(255, 199, 43);
    border-radius: 20px;
    transition: all 0.2s ease-in-out 0s;
}

.rolling-banner-items.detail {
    /* position: absolute; */
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    width: 378px;
    height: 212px;
    margin: 15px 10px;
    padding: 20px;
    border-radius: 20px;
    transition: all 0.2s ease-in-out 0s;
    background: rgb(0, 160, 78);

}

.rolling-banner-items.obssei {
    /* position: absolute; */
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    width: 378px;
    height: 212px;
    margin: 15px 10px;
    padding: 20px;
    border-radius: 20px;
    background: rgb(255, 158, 148);
    transition: all 0.2s ease-in-out 0s;
}

.rolling-banner--con {
    margin-bottom: 9px;
}

.rolling-banner--title {
    margin-bottom: 97px;
}

.rolling-banner {
    display: block;

}

