* {
    list-style: none;
    box-sizing: border-box;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: 700;
    overflow-x: hidden;
}



.rolling-banner-lists{
    display: flex;
    white-space:normal;
    overflow: auto;
}

.rolling-banner-lists::-webkit-scrollbar{
    display: none;
}
    

.rolling-banner-items.mile {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    width: 378px;
    height: 212px;
    margin: 15px 10px;
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
    background: rgb(255, 158, 148);    
}

.rolling-banner-items.paradigm {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    width: 378px;
    height: 212px;
    margin: 15px 10px;
    padding: 20px;
    background: rgb(255, 199, 43);
    border-radius: 20px;
    overflow: hidden;
}

.rolling-banner-items.detail {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    width: 378px;
    height: 212px;
    margin: 15px 10px;
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
       background: rgb(0, 160, 78);

}

.rolling-banner-items.obssei {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    width: 378px;
    height: 212px;
    margin: 15px 10px;
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
    background: rgb(255, 158, 148);
}

.rolling-banner--con {
    margin-bottom: 9px;
}

.rolling-banner--title {
    margin-bottom: 97px;
}

.rolling-banner {
    display: block;

}