* {
  box-sizing: border-box;
  list-style: none;
}

ul {
  padding: 0;
}

.container {
  width: 500px;
  background-color: #dfdfdf;
  height: auto;
}

.header {
  display: flex;
  background-color: pink;
}

.nav {
  display: flex;
  background-color: yellow;
  width: 100%;
}

.menu-lists {
  display: flex;
}

.menu-items {
  display: block;
  margin-right: 10px;
  background: orange;
}

.sign {
  width: auto;
}

.sign-form {
  display: flex;
  justify-content: center;
  align-items: center;
}


.input-style {
  display: flex;
  justify-content: center;
  align-items: center;
  background: skyblue;
}

.input-style label {
  /* white-space: nowrap; */
}

.input-style.id-input {
  margin: 10px;
}


.main,
.aside {
  height: 300px;
}

.main-section {
  display: flex;
}

.main {
  display: flex;
  flex-direction: row;
  background-color: lightGreen;
  width: 350px;
  padding: 10px;

}

section {
  width: 50%;
}

.section1 {
  background-color: green;
}

.section2 {
  background-color: khaki;
}

.aside {
  background-color: coral;
  width: 150px;
}

.footer {
  background-color: lightGrey;
  width: 100%;
  height: 50px;
}